@use '../../variable' as *;

#contact {
    padding-block: 66px;
    scroll-margin: 64px;
    .container {
        .title {
            text-align: center;
            margin-top: 20px;
            h2 {
                display: inline-block;
                border: 4px solid $border-dark;
                padding: 15px 7%;
                margin-bottom: 60px;
                letter-spacing: 5px;
            }
        }
        .about-info {
            margin-bottom: 20px;
            text-align: center;
        }
        .seperator {
            text-align: center;
            @include flex-center;
            padding-bottom: 60px;
        }
        .data-entery {
            padding-top: 30px;
            gap: 50px;
            .name,.email,.number,.message {
                position: relative;
                max-width: 600px;
                width: 100%;
                .input {
                    border-left: 3px solid $border-dark;
                    border-bottom: 3px solid $border-dark;
                    width: 100%;
                    padding: 10px 10px;
                    background: transparent;
                    position: relative;
                    z-index: 2;
                    &:focus {
                        outline: 0;
                    }
                }
                label {
                    color: $text-light;
                    font-weight: 600;
                    font-size: 14px;
                    position: absolute;
                    z-index: 1;
                    top: 12px;
                    left: 20px;
                    letter-spacing: 1px;
                    transition: 0.5s ease-in-out;
                }
                &.focused {
                    label {
                        top: -7px;
                        font-size: 10px;
                        left: 15px;
                        transition: 0.5s ease-in-out
                    }
                }
            }
            .secondary-btn {
                @include btn-dark;
            }
        }
    }
}