@use '../../variable' as *;

#dev-journey {
    background: linear-gradient(0deg, #1D1D1D 0%, #1D1D1D 100%);
    .container {
        color: $text-white;
        max-width: 1250px;
        .journey-info {
            width: 80%;
            padding: 20px;
            h3 {
                margin-bottom: 20px;
                font-weight: 500    ;
            }
            .journey-cont {
                margin-bottom: 30px;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
            &.readMore {
                width: 100%;
                .journey-cont {
                    display: block;
                }
            }
        }
        .it-banner {
            overflow: hidden;
            max-height: 246px;
            height: 100%;
        }
    }
}