@use '../../variable' as *;

#portfolio {
    background-color: $bg-lightDark;
    scroll-margin: 64px;
    .container-fluid {
        background-image: url('/images/portfolio-bg.png');
        .title {
            text-align: center;
            padding-block: 60px;
            h2 {
                display: inline-block;
                border: 4px solid $border-dark;
                padding: 15px 4%;
                letter-spacing: 5px;
            }
        }
    }
    .main-tab {
        width: 100%;
        .nav {
            @include flex-center;
            padding-top: 20px;
            max-width: max-content;
            margin: 0 auto 30px auto;
            border-bottom: 2px solid $text-light;
            .nav-item {
                border: none;
                .nav-link {
                    min-width: 150px;
                    color: $text-light;
                    background-color: transparent;
                    border: 2px solid transparent;
                    &.active {
                        color: $text-white;
                        border-bottom: 2px solid $border-light;
                    }
                }
            }
        }
        .tab-content {
            .tab-pane {
                color: $text-white;
                grid-template-columns: repeat(3, 1fr);
                @media screen and (max-width: 992px) {
                   grid-template-columns: repeat(2, 1fr);
                }
                @media screen and (max-width: 768px) {
                   grid-template-columns: repeat(1, 1fr); 
                }
                display: none;
                &.show {
                    display: grid;
                }
                .box {
                    position: relative;
                    cursor: pointer;
                    overflow: hidden;
                    @media screen and (max-width: 992px) {
                       margin-bottom: 12px;
                       padding-inline: 12px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        transition: 0.5s ease-in-out;
                    }
                    .info {
                        position: absolute;
                        padding: 10px;
                        inset: 0;
                        flex-direction: column;
                        justify-content: space-between;
                        display: none;
                        z-index: 3;
                        .visit {
                            text-align: center;
                            i {
                                font-size: 25px;
                                color: $text-white;
                                &:hover {
                                    color: $dark-grey;
                                }
                            }
                        }
                        .name {
                            text-align: center;
                        }
                    }
                    &:hover {
                        img {
                            transform: scale(1.1, 1.1);
                            transition: 0.5s ease-in-out;
                            position: relative;
                            z-index: 1;
                        }
                        &::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            background-color: $bg-darkTrans;
                            z-index: 2;
                        }
                        .info  {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
}