@use '../../variable' as *;

#skills {
    padding-bottom: 60px;
    scroll-margin: -15px;
    .container {
        .title {
            text-align: center;
            margin-top: 20px;
            h2 {
                display: inline-block;
                border: 4px solid $border-dark;
                padding: 15px 8%;
                margin-bottom: 60px;
                letter-spacing: 5px;
            }
        }
        h3 {
            letter-spacing: 8px;
            margin-bottom: 8%;
            padding-left: 8%;
            @media screen and (max-width: 576px) {
                text-align: center;
            }
        }
        .skills-cont {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            gap: 30px;
            @media screen and (max-width: 992px) {
                grid-template-columns: repeat(3, 1fr)
            }
            @media screen and (max-width: 768px) {
                grid-template-columns: repeat(2, 1fr)
            }
            @media screen and (max-width: 576px) {
                grid-template-columns: repeat(1, 1fr)
            }
            .box {
                letter-spacing: 5px;
                font-weight: 500;
                text-align: center;
                img {
                    filter: grayscale(80);
                    opacity: 0.5;
                    transition: 0.5s ease-in-out;
                    &:hover {
                        filter: none;
                        transition: 0.5s ease-in-out;
                        opacity: 1;
                        cursor: pointer;
                    }
                }
                span {
                    display: block;
                    text-align: center;
                    margin-top: 20px;
                }
            }
        }
    }
}