@use '../../variable' as *;

.nav-bar {
    padding-block: 10px;
    @include flex-center;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: $bg-dark;
    z-index: 99;
    .nav-content {
        @include flex-between;
        max-width: 1920px;
        width: 100%;
        padding-inline: 12px;
        .nav-logo {
            cursor: pointer;
        }
        .nav-menu {
            display: flex;
            @media screen and (max-width: 768px) {
                display: none;
            }
            .navTabs {
                min-width: 150px;
                text-decoration: none;
                &:hover {
                    text-transform: uppercase;
                }
            }
        }
        .toggle-btn {
            display: none;
            position: relative;
            @media screen and (max-width: 768px) {
                display: block;
            }
            .toggle-icon {
                cursor: pointer;
            }
            .toggle-dropdown {
                position: fixed;
                top: 60px;
                right: 0px;
                background-color: $bg-light;
                width: 300px;
                height: 100vh;
                display: flex;
                flex-direction: column;
                transform: translateX(100%);
                transition: 0.3s ease-in-out;
                z-index: 5;
                &.toggle-transition {
                    transform: translateX(0%);
                }
                .toggle-tab {
                    text-decoration: none;
                    color: $text-dark;
                    padding: 15px 12px;
                    &::after {
                        content: "";
                        display: block;
                        transition: 0.3s ease-in-out;
                        height: 1px;
                        width: 0%;
                        background-color: $bg-dark;
                        color: $bg-dark;
                    }
                    &:hover {
                        &::after {
                            width: 100%;
                        }
                    }
                }
                .seperator {
                    padding: 30px 0 30px 0;
                    svg {
                        margin-inline: auto;
                    }
                }
                .social-container {
                    display: flex;
                    flex-direction: column;
                    padding-inline: 12px;
                    a {
                        padding-block: 8px;
                        i {
                            color: $text-dark;
                            font-size: 25px;
                        }
                        &::after {
                            content: "";
                            display: block;
                            transition: 0.3s ease-in-out;
                            height: 1px;
                            width: 0%;
                            background-color: $bg-dark;
                            color: $bg-dark;
                        }
                        &:hover {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                }
                .copy-right {
                    text-align: center;
                    margin-top: 10px;
                }
            }
            .toggle-overlay {
                position: fixed;
                inset: 0;
                top: 60px;
                background-color: #00000079;
                z-index: 4;
                visibility: hidden;
                transition: opacity 0.3s ease;
                &.show {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }
    }
}