@use '../../variable' as *;

.nav-bar {
    padding-block: 10px;
    @include flex-center;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: $bg-dark;
    z-index: 99;
    .nav-content {
        @include flex-between;
        @include container;
        padding-inline: 12px;
        .nav-logo {
            cursor: pointer;
        }
        .nav-menu {
            display: flex;
            .navTabs {
                min-width: 150px;
                text-decoration: none;
                &:hover {
                    text-transform: uppercase;
                }
            }
        }
    }
}