@use '../variable' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  color: $text-dark;
  background-color: $primary-color;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

img {
  max-width: 100%;
  height: auto;
}
section {
  width: 100%;
  height: 100%;
  @include flex-center;
}
.container {
  @include container;
}
.container-fluid {
  width: 100%;
}
.seperator {
    @include flex-center;
    padding-block: 60px;
    @media screen and (max-width: 992px) {
        padding-block: 35px;
    }
    @media screen and (max-width: 768px) {
        padding-block: 25px;
    }
    @media screen and (max-width: 576px) {
        padding-block: 15px;
    }
}
h1 {
  font-size: 46px;
  font-weight: 600;
}
h2 {
  font-size: 32px;
  font-weight: 600;
}
h3 {
  font-size: 27px;
  font-weight: 600;
}
h4 {
  font-size: 18px;
  font-weight: 500;
}
h5 {
  font-size: 16px;
  font-weight: 500;
}
h6 {
  font-size: 14px;
  font-weight: 500;
}